@inject NavigationManager navigationManager

<table>
    <thead>
        <tr>
            <th>Menu item</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in GetMenuItem()) 
        {
            <tr>
                <td>@menu.Item</td>
                <td>@menu.Price</td>
                <td>
                    <button @onclick="() => GetMenuItem().Remove(menu)">X</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<span class="text-black">Delivery cost: @if (postcodeLookup.DeliveringToPostcode is not null)
    {
        <span>£</span>@postcodeLookup.DeliveryPrice
    }
</span>
<h3>Total: £@TotalAmount()</h3>
<button class="btn btn-dark" @onclick="() => navigationManager.NavigateTo(navigateTo)">Continue</button>