@using LitvaKebabs.Components;
@page "/ordermenu"

<PageTitle>Order menu</PageTitle>

<h1>Order menu</h1>
<div class="container-fluid align-content-start">
<div class="align-content-around">
<PostcodeLookup/>
    </div>
    <!--Uh oh. I'm not sure what foreaching with an onclick event will do here. Take cover! -->
    @foreach(var items in MenuItems)
    {
       <OrderButton MenuItem="@items.Key" MenuPrice="items.Value"/> 
    }

    @foreach (var items in SauceItems) 
    {
        <OrderButton MenuItem="@items.Key" MenuPrice="items.Value"/>
    }
    

<Receipt KebabItem="@KebabItem"/>
</div>