################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LitvaKebabs/.vs
/LitvaKebabs/obj
/LitvaKebabs/bin/Debug/net7.0
/LitvaKebabs/TextFile.txt
/.vs/apprenticeship-2023-sd-hci/v17
/.vs
/LitvaKebabs/libman.json
/LitvaKebabs/bin/Debug/net8.0
