@page "/"
@rendermode InteractiveServer

<PageTitle>Litva Kebabs Order System v0.0.1</PageTitle>

<div class="text-center align-text-top">
<img src="logo/litvakebabs5.svg" height="500" width="500" />
</div>
<h1 class="text-center">Welcome to the Litva Kebabs Order System v0.0.1</h1>
<div class="text-center">
    <h2>Customer?</h2>
    <button class="btn" @onclick="() => ShowCustomerComponent = true">Log in here (as customer)</button>
    @if(ShowCustomerComponent)
    {
       <LoginForm LoginUser="customer" />
    }

    <h2>Staff?</h2>
    <button class="btn" @onclick="() => ShowStaffComponent = true">Log in here (as staff)</button>
    @if(ShowStaffComponent)
    {
       <LoginForm LoginUser="staff" /> 
    }
</div>

@code {
    bool ShowCustomerComponent { get; set; } = false;
    bool ShowStaffComponent { get; set; } = false;
}