@using LitvaKebabs.Services
@using LitvaKebabs.Models
@using Microsoft.EntityFrameworkCore
@page "/staff-portal"
@rendermode InteractiveServer
@inject LitvaKebabsContext LitvaKebabsContext

<PageTitle>Staff portal</PageTitle>

<h1 class="text-center">Welcome to the staff portal</h1>
<div class="container-fluid">
    <h2 class="card-subtitle">Menu management</h2>
    <div class="btn-toolbar" role="toolbar">
       <button class="btn btn-primary" @onclick="AddMenuItem">Add new item</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Menu item</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>            
        @if (_products is null)
        {
            <p>Loading....</p>
        }
        else
    {
        @foreach (var product in _products)
        {

                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductPrice</td>
                    <td>
                        <button class="btn btn-primary mx-1">Modify</button>
                        <button class="btn btn-danger mx-1">Remove</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<ProductDialog AddOrModify="add" @ref="addDialog" />
<ProductDialog AddOrModify="modify" @ref="modifyDialog" />

@code {

    public Product MenuItem { get; set; }

    /*MenuService _menuService = new();*/

    private string NewName;
    private decimal NewPrice;

    ProductDialog addDialog;
    ProductDialog modifyDialog;

    private List<Product>? _products;

    private void AddMenuItem()
    {
        addDialog.Show();
    }

    private EventCallback<string> NameChanged {  get; set; }
    private EventCallback<decimal> PriceChanged { get; set; }

    private void OnAmendedItem(Product menuItem)
    {
        /*addDialog.EditingMenuItem = menuItem;*/
        modifyDialog.Show();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        _products = await LitvaKebabsContext.Product.ToListAsync();
    }

}