@page "/order-success"

<div class="container-fluid">
    <h1 class="text-center">Order submitted!</h1>
    <h2 class="text-center">At Litva Kebabs, we love nothing more than dad jokes.</h2>
    <h3 class="text-center">So shish, thanks for using us so much, you are a very generous D&#214;NER to us!</h3>
</div>