@using LitvaKebabs.Models
@using LitvaKebabs.Services
@page "/order-summary"
@rendermode InteractiveAuto

<PageTitle>Your order</PageTitle>

<h1>Your order</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Menu item</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var menuItem in _orderService.GetOrder(int.Parse(OrderId)).MenuItems) 
            {
               <td>@menuItem.Name</td>
               <td>@menuItem.Price</td>
            }
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary h-100 w-200">Submit order</button>