@using LitvaKebabs.Models
@using LitvaKebabs.Services
@page "/order-summary"
@rendermode InteractiveAuto

<PageTitle>Your order</PageTitle>

<h1>Your order</h1>



@code {
        OrderService orderService = new OrderService();
}