@page "/staff-portal"
@rendermode InteractiveServer

<PageTitle>Staff portal</PageTitle>

<h1 class="text-center">Welcome to the staff portal</h1>
<div class="container-fluid">
    <h2 class="card-subtitle">Menu management</h2>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-10">
            <button class="btn btn-primary">Add</button>
            <button class="btn btn-dark">Edit</button>
            <button class="btn btn-danger">Remove</button>
        </div>
    </div>
</div>