@using LitvaKebabs.Services
@using LitvaKebabs.Models
@page "/staff-portal"
@rendermode InteractiveServer

<PageTitle>Staff portal</PageTitle>

<h1 class="text-center">Welcome to the staff portal</h1>
<div class="container-fluid">
    <h2 class="card-subtitle">Menu management</h2>
    <div class="btn-toolbar" role="toolbar">
       <button class="btn btn-primary" @onclick="AddMenuItem">Add new item</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Menu item ID</th>
                <th scope="col">Menu item</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var menuItem in _menuService.GetMenuItems())
            {
            <tr>
                <td>@menuItem.Id</td>
                <td>@menuItem.Name</td>
                <td>@menuItem.Price</td>
                <td>
                   <button class="btn btn-primary mx-1" @onclick="(() => OnAmendedItem(menuItem))">Modify</button>
                   <button class="btn btn-danger mx-1" @onclick="(() => _menuService.DeleteMenuItem(menuItem.Id))">Remove</button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<AddMenuItemDialog AddOrModify="add" @ref="addDialog" />
<AddMenuItemDialog AddOrModify="modify" @ref="modifyDialog" />
