@using LitvaKebabs.Models
@inject NavigationManager navigationManager

<EditForm Model="@Model" OnValidSubmit="@Submit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <label for="username">Email address:</label>
    <InputText id="username" @bind-Value="Model!.UserUsername" />
    <label for="pwd">Password:</label>
    <InputText id="pwd" type="password" @bind-Value="Model!.UserPassword" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</EditForm>

@code {

    public string LoginUser { get; set; }

    public User? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        if (LoginUser == "customer")
        {
            navigationManager.NavigateTo("/menu");
        }
        else if (LoginUser == "staff")
        {
            navigationManager.NavigateTo("/staff-portal");
        }
    }

}